
/* Boas PRÁTICAS - Comece pelo *(tudo) - 
Reset CSS (IGUALAR TUDO)

1- margin (distância externa)
2- padding (distância interna)
3- box-sizing (forma como calculamos tamanho)
*/

/* TODAS AS SUAS APLICAÇÕES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* Cores - 2 formas
        1) O nome da cor
        2) O código da cor
*/

body {
    background-image: url("https://img.magnific.com/vetores-premium/conceito-de-tecnologia-digital-de-fundo-abstrato-de-cor-azul_24070-304.jpg?semt=ais_hybrid&w=740&q=80"); /* Cor de Fundo */
    background-size: cover; /* Cobrir toda a tela */
    color: #fafafa;  /* cor do texto */
    padding: 60px 20px;
    display: flex;
    flex-direction: column;  /* um debaixo do outro */
    align-items: center;  /* alinhar ao centro */
}

.etiqueta {
    color: #ffffff;
}

h1 {
    font-size: 52px;/* Tamanho do texto */
    font-weight: 800; /* grossura da fonte*/
    color: #fafafa;
}

span {
    color: #1c887a;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: none;
}

.subtitulo {
    color: #6fccd3;
    margin-top: 16px;
    font-size: 18px;
}

.caixa-entrada {
    width: 620px;
    background: #141419;
    border-radius: 16px;
    padding: 12px;
    margin-top: 30px;
    display: flex;
}

textarea {
   width: 80%;  /* largura */
   resize: none;
   outline: none;
   background: transparent;
   padding: 8px;
   color: #fafafa;
   font-size: 15px;
   border: none;
}

button {
    width: 30%;
    padding: 12px 26px;
    color: #ffffff;
    background: #7c3aed;
    border: none; /* borda */
    border-radius: 10px; /* arredondar a bordar */
    cursor: pointer;  /* trocar o cursor do mouse */
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease-in-out; /* animação */
}

button:hover {
    background: #5b21b6;
    font-size: 18px;
}

button:active {
    background: #2a0b58;
}

.caixa-resultado {
    width: 1400px;
    display: flex;
    padding: 24px;
    margin-top: 40px;
    background: #111114;
    border-radius: 12px;
    border: 1px solid #27272a;
    gap: 24px;
}

.bloco-codigo {
    width: 30%;
    background: #0c0c0f;
    padding: 20px;
    font-size: 12px;
    color: #22c55e;
    white-space: pre-wrap;  /* quebrar linha */
    overflow: auto; /* scroll do mouse */
    height: 600px;
    border-radius: 12px;
    border: 1px solid #27272a;
    /* tamanho da borda / o tipo de borda / a cor da borda */
}

.bloco-site {
    background-color: #325457;
    width: 70%;
    height: 600px;
    border: 1px solid #27272a;
    border-radius: 12px;
    background-color: #1e1e1e;
}